@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Inicio menu horizontal*/

body,header{
    margin: 0px;
    padding: 0px;
}


header .container{
    width: 100%;
    height: 18vh;
}

header .container .row-1{
    width: 100%;
    height: 6vh;
    background-color: rgb(0, 53, 128);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .row-1 p i {
   color: rgb(200, 32, 38);
   margin: 0px 5px;
   font-weight: 700;
}

header .container .row-1 p{
    margin-left: 80px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8rem;
}

header .container .row-1 ul{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0px;
}

header .container .row-1 ul li{
    padding: 10px;
    transition: .2s;
}

header .container .row-1 ul li:hover{
    transform: translateY(-3px) scale(1.05);
}

header .container .row-1 ul li a{
    color: #fff;
    font-size: 1.2rem;
}

header .container .row-1 ul li .facebook:hover{
    color: #0071bc;
}

header .container .row-1 ul li .twitter:hover{
     color: #00acee;
 }

 header .container .row-1 ul li .instagram:hover{
     color: #FCAF45;
 }

 header .container .row-1 ul li .youtube:hover{
     color: #c4302b;
 }

header .container .row-2{
    width: 100%;
    height: 12vh;
    display: flex;
    background-color: #FFF;
    border-top: 2px solid rgb(200, 32, 38);
}

header .container .row-2 .logo{
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 120px;
}

header .container .row-2 .logo a{
   text-align: center;
}

header .container .row-2 img{
   width: 80%;
}

header .container .row-2 nav{
    width: 83%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .row-2 nav ul{
    padding: 0px;
    margin-left: 50px;  
}


header .container .row-2 nav ul li{
   float: left;
   list-style: none;
   position: relative;
}

header .container .row-2 nav > ul > li:nth-child(1) a{
  color: rgb(200, 32, 38);
}

header .container .row-2 nav ul li a{
    display: block;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    color: rgb(0, 53, 128);
    font-weight: 700;
    line-height: 8vh;
    padding: 0px 20px;
    transition: all 0.3s;
}


header .container .row-2 nav  ul li a:hover{
    color: rgb(200, 32, 38);
}

header .container .row-2 nav ul li a svg{
   width: 12px;
   height: 12px;
}

header .container .row-2 nav ul li ul{
    display: none;
    position: absolute;
    background-color: rgb(0, 53, 128);
}

header .container .row-2 nav ul li ul li{
  width: 100%;
}


header .container .row-2 nav ul li:hover ul{
   display: block;
   border-top: 2px solid rgb(200, 32, 38);
}

header .container .row-2 nav ul li ul li a{
    padding: 0.9rem 2rem;
    line-height: unset;
    white-space: nowrap;
    color: rgb(216, 206, 206);
}

@media(max-width: 1920px){
    .Responsive{
        display: none;
    }
}

/* Fin menu horizontal*/


/* Iinicio menu responsive */

@media(max-width: 768px){
    .Horizontal{
        display: none;
    }

    .Responsive {
        display: block;
    }

    .Responsive .row1 {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 53, 128);
    }

    .Responsive .row1 p {
        color: #fff;
        font-family: 'Roboto Slab', serif;
        font-size: 0.9rem;
    }

    .Responsive .row2 {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
    }

    .Responsive .row2 .nav-bar{
      font-size: 1.8em;
      margin-left: 20px;
      cursor: pointer;
     }

    .Responsive .row2 .logo{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
     }

    .Responsive .row2 .logo img {
       width: 90%;
    }

    .menu, .submenu{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .menu{
        background: rgba(0, 53, 128,0.9);
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
        position: absolute;
        z-index: 100;
    }

    .menu > li >.menu__link{
        letter-spacing: 1px;
    }

    .menu__link{
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        font-family: 'Roboto Slab', serif;
    }

    .submenu .menu__link{
        padding-left: 50px;
    }

    .mostrar{
        margin-left: 0;
    }

}

@media(max-width: 480px){
    .Responsive .row2 .logo{
        width: 32%;
     }

}

/* Fin menu responsive */











