@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


body,header,main{
    margin: 0px;
    padding: 0px;
}

/* Inicio header  */

header .container{
    width: 100%;
    height: 25vh;
}

header .container .row-1{
    width: 100%;
    height: 7vh;
    background-color: rgb(0, 53, 128);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .row-1 p i {
   color: rgb(200, 32, 38);
   margin: 0px 5px;
}

header .container .row-1 p{
    margin-left: 80px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

header .container .row-1 ul{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0px;
}

header .container .row-1 ul li{
    padding: 10px;
    transition: .2s;

}

header .container .row-1 ul li:hover{
    transform: translateY(-3px) scale(1.05);
}

header .container .row-1 ul li a{
    color: #fff;
    font-size: 1.2rem;
}

header .container .row-1 ul li .facebook:hover{
    color: #0071bc;
}

header .container .row-1 ul li .twitter:hover{
     color: #00acee;
 }

 header .container .row-1 ul li .instagram:hover{
     color: #FCAF45;;
 }

 header .container .row-1 ul li .youtube:hover{
     color: #c4302b
 }

header .container .row-2{
    width: 100%;
    height: 18vh;
    background-color: rgb(247, 247, 247)

}

header .container .row-2 .filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;

}

header .container .row-2 .filter .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container .row-2 .filter .logo a{
   text-align: center;
}

header .container .row-2 .filter  img{
   width: 70%;
}

header .container .row-2 .filter nav{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .row-2 .filter nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0px;

}
header .container .row-2 .filter nav ul li:nth-child(1){
    border-bottom: 3px solid rgb(200, 32, 38);
}


header .container .row-2 .filter nav ul li{
    margin: 0px 10px;
    transition: all .2s;
}


header .container .row-2 .filter nav ul li:hover{
  border-bottom: 3px solid rgb(200, 32, 38);
}

header .container .row-2 .filter nav ul li a{
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2rem;
    color: rgb(0, 53, 128);
    font-weight: 500;
}

/* Fin header  */

/* Inicio header  */
main{
    display: flex;
    flex-direction: column;
}

main .container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
    transition: all 1s ease-in-out;
    background-image: url("../img/banner-1.jpg");
    animation: banner 28s infinite linear;

}

main .container .filtro{
    width: 100%;
    height: 100%;
    background-color: rgba(0,22,40,.5);
    display: flex;
    flex-direction: column;
}

main .container .row{
    width: 100%;
    height: 80%;
    display: flex;
}


main .container .row .col{
    width: 35%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
    margin-left: 150px;
}

main .container .row .col h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 2.1rem ;
    font-weight: 700;
    margin-bottom: 0px;
  
}

main .container .row .col p{
   color: #ffffff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1em;
  
}


@keyframes banner{
    0%{
        background-image: url("../img/banner-1.jpg");
    }

    25%{
        background-image: url("../img/banner-1.jpg");
    }

    26%{
        background-image: url("../img/banner-2.jpg");
    }

    50%{
        background-image: url("../img/banner-2.jpg");
    }

    51%{
        background-image: url("../img/banner-3.jpg");
    }

    75%{
        background-image: url("../img/banner-3.jpg");
    }

    76%{
        background-image: url("../img/banner-4.JPEG");
    }

    100%{
        background-image: url("../img/banner-4.JPEG");
    }


}

main .container .row-2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .row-2 .col{
    width: 27%;
    height: 100%;
    background-color: rgba(0, 53, 128,0.7);
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .row-2 .col .parrafo{
    width: 85%; 
    height: 100%;
    margin-left: 30px;
 
}

main .container .row-2 .col .parrafo h4{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}

main .container .row-2 .col .parrafo p{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

main .container .row-2 .col .icono{
   width: 15%;
   height: 5vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

main .container .row-2 .col .icono i{
    color: rgb(200, 32, 38);
    font-size: 1.5rem;
 
 }
 




